.dice {
    width:90px;
    height:90px;
    background: rgb(250,240,240);
    border-radius: 10px;
    padding:5px;
    place-content: center;
    text-align:center;
}
.dice .dice-container {
    display: grid;
    grid-template-columns: 40px 40px;
    grid-template-rows: 25px 25px 25px;
    grid-column-gap:10px;
    justify-items: center;
    align-items: center;
}

.dice-dummy {
    width:70px;
    height:70px;
    background: rgb(250,240,240);
    border-radius: 10px;
    padding: 5px;
    place-content: center;
    text-align:center;
}