.player-container,.opponent-container {
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    
    .score-display {
        color: rgba(250,240,240, 0.8);
    }
    
    transition: 0.5s;
    
    &[disabled] {
        opacity: 50%;
        translate: 0 -10px;
        transform: scale(90%);
        transition: 0.5s;
    }
}